<div class="container">
  <div class="row padding-bottom-small">
    <div class="col-md-12">

    <h1>Test#index</h1>

      <ul class="accounts"></ul>

      <%= javascript_tag do %>

    console.log(web3);

    console.log();

    var accounts = web3.eth.accounts;

    accounts.forEach(function(entry) {
      var balance = web3.eth.getBalance(entry);
      $(".accounts").append("<li>" + entry + ": " + balance.toString(10) + " Ether</li>");
    });



    console.log(balance); // instanceof BigNumber
    console.log(balance.toString(10)); // '1000000000000'
    console.log(balance.toNumber()); // 1000000000000

<% end -%>



    </div>
  </div>
</div>