/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


$font-family: 'Source Sans Pro', sans-serif !important;
$font-weight-x-light: 200 !important;
$font-weight-light: 300 !important;
$font-weight-normal: 400 !important;
$font-weight-semi-bold: 600 !important;
$font-weight-bold: 700 !important;

$color: #222 !important;
$background: #fff !important;
$inverted-color: #fff !important;
$inverted-background: #260078 !important;
$accent-color: #eeffff !important;

body{
  font-family: $font-family;
  color: $color;
  background-color: $background;
}

#ytplayer{
  display: block;
  width: 640px;
  height: 390px;
  border: 0;
}

.padding-bottom-x-small {
  padding-bottom: 15px;
}
.padding-bottom-small {
  padding-bottom: 25px;
}
.padding-bottom {
  padding-bottom: 50px;
}
.padding-bottom-large {
  padding-bottom: 75px;
}

.padding-top-x-small {
  padding-top: 15px;
}
.padding-top-small {
  padding-top: 25px;
}
.padding-top {
  padding-top: 50px;
}
.padding-top-large {
  padding-top: 75px;
}